.container {
  background-color: #05063fe3;
  display: flex;
  // width: 100% !important;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin: 0px 16px;
  color: aqua;
  font-size: 32px !important;
}

button {
  margin: 0px 16px;
}

.material-icons {
  font-size: 32px !important;
}

.mat-icon {
  height: 32px;
  width: 32px;
}
.p {
  font-size: 24px;
  font-weight: bold;
}

.wd{
  display: flex;
  width: 550px !important;
  align-items: center;
  height: 36px;
}

form{
  width:300px
}
.d{
  display: flex;
}