<div fxFlex fxLayout="row" class="container w">
    <div>
        <h2>TeeRex Store</h2>
    </div>
    <div fxLayoutAlign="start center" class="wd">
        <form fxFlex fxLayoutAlign="start center" *ngIf="searchForm" [formGroup]="searchForm">
            <mat-form-field appearance="outline" class="w d">
                <div class="d w">
                    <input matInput class="w" placeholder="search for products" formControlName="searchValue" />
                    <mat-icon>search</mat-icon>
                </div>
            </mat-form-field>
        </form>
        <button mat-icon-button class="p" (click)="productList()" matTooltip="Go to products"><u>Products</u></button>
        <button mat-icon-button type="button" [matBadge]="cartCount ? cartCount : null" matBadgePosition="before" matBadgeColor="accent"
            matTooltip="Go to cart" (click)="cart()">
            <mat-icon>
                shopping_cart
            </mat-icon>
        </button>
    </div>
</div>