<div fxFlex fxLayout="row" class="container w rcon">
    <div>
        <h2 class="cl">{{title}}</h2>
    </div>
    <div fxShow fxHide.lt-md fxLayoutAlign="start center" class="wd">
        <form fxFlex fxLayoutAlign="start center" *ngIf="searchForm" [formGroup]="searchForm">
            <mat-form-field appearance="outline" class="w d">
                <div class="d w">
                    <input matInput class="w" placeholder="search for products" formControlName="searchValue" />
                    <mat-icon class="ic">search</mat-icon>
                </div>
            </mat-form-field>
        </form>
        <button mat-icon-button type="button" class="p cl" (click)="productList()"
            matTooltip="Go to products">Products</button>
        <button fxShow.lt-md mat-button *ngIf="data?.cart" type="button" [matBadge]="cartCount ? cartCount : null"
            matBadgePosition="before" matBadgeColor="accent" matTooltip="Go to cart" (click)="cartItem()">
            <mat-icon class="cl">
                shopping_cart
            </mat-icon>
        </button>
    </div>
    <div fxHide fxShow.lt-md class="mt">
        <button mat-icon-button type="button" matBadgeSize="small" [matBadge]="cartCount ? cartCount : null" matBadgePosition="after"
            matBadgeColor="accent" matTooltip="Go to cart" (click)="cartItem()">
            <mat-icon class="cl f">
                shopping_cart
            </mat-icon>
        </button>
    </div>
    <div fxHide fxShow.lt-md class="mx">
        <form fxFlex fxLayoutAlign="start center" *ngIf="searchForm" [formGroup]="searchForm">
            <mat-form-field appearance="outline" class="w d">
                <div class="d w">
                    <input matInput class="w" placeholder="search for products" formControlName="searchValue" />
                    <mat-icon class="ic">search</mat-icon>
                </div>
            </mat-form-field>
        </form>
    </div>
</div>