img{
    max-width: -moz-available !important;
    min-height: 195px !important;
}
.p{
    padding: 16px;
}
button{
    height: 28px !important;
}
.pl{
    padding-left: 8px !important;
}
mat-card-actions{
    background-color: aliceblue;
}