<div fxFlex>
    <div fxShow fxHide.lt-md fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Filters</h2>
    </div>
    <div>
        <mat-card>
            <mat-card-content class="p" *ngFor="let item of filterVal[0]|keyvalue">
                <h3>{{item.key}}</h3>
                <div *ngFor="let val of $any(item).value">
                    <mat-checkbox (change)="filterCheck(val,$event,item.key)">
                        {{val}}
                    </mat-checkbox>
                </div>
            </mat-card-content>
            <h3 class="m">Price</h3>
            <div class="align">
                <p>Min: {{min}}</p>
                <p>Max:{{max}}</p>
            </div>
            <mat-slider class="mx" [min]="minValue" [max]="maxValue" [discrete]="true" [step]="50" >
                <input [ngModel]="minValue" (input)="onSliderChange($event,'min')" matSliderStartThumb>
                <input [ngModel]="maxValue" (input)="onSliderChange($event,'max')" matSliderEndThumb>
            </mat-slider>
            <div fxLayoutAlign="end center" class="m" fxHide fxShow.lt-md>
                <button mat-raised-button type="button" color="accent" (click)="apply()">Apply         
                </button>
            </div>
        </mat-card>      
    </div>
</div>
