h2{
    margin-left:16px !important;
}
button{
    height: 28px !important;
}
.align{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 16px;
    justify-content: space-between;
}

.mx{
    margin: 0px 24px;
}
.m{
    margin:16px !important;
}