.title{
    background-color:#414581;
    color: white !important;
}
 
.mdc-dialog__actions{
    background-color: rgba(152, 153, 165, 0.14) !important;
}

.mat-mdc-dialog-content {
    padding: 16px !important;
    margin: 16px 0px;
    color: black !important;
}