img{
    width: 245px !important;
    height: 240px !important;
}
.p{
    padding: 16px;
}
button{
    height: 28px !important;
}
.pl{
    padding-left: 8px !important;
}
mat-card{
    background-color: white;
}